<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-footer col-md-6 col-xs-6">
        <h3>Contacts</h3>
        <p class="contact-us-details">
          <b>Address:</b> {{ site.address }}<br/>
          <b>Phone:</b> {{ site.phone }}<br/>
          <b>Email:</b> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
      <div class="col-footer col-md-6 col-xs-6">
        <h3>Stay Connected</h3>
        <ul class="footer-stay-connected no-list-style">
          <li>
            <a href="{{ site.facebook_url }}" class="facebook" target="_blank"></a>
          </li>
          <li>
            <a href="{{ site.twitter_url }}" class="twitter" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
      </div>
    </div>
  </div>
</div>
