<div class="mainmenu-wrapper">
  <div class="container">
    <nav id="mainmenu" class="mainmenu">
      <ul>
        <li class="logo-wrapper">
          <a href="{{ site.baseurl }}/">
            <img src="{{"/img/mPurpose-logo.png" | prepend: site.baseurl}}" alt="{{ site.title }}">
          </a>
        </li>

        {% if "/contact/index.html" != page.url %}
          <li class="active">
            <a href="{{ site.baseurl }}/">Home</a>
          </li>
        {% else %}
          <li>
            <a href="{{ site.baseurl }}/">Home</a>
          </li>
        {% endif %}

        {% if "/contact/index.html" == page.url %}
          <li class="active">
            <a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a>
          </li>
        {% else %}
          <li>
            <a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a>
          </li>
        {% endif %}
        
        <li>
            <a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a>
          </li>

        {% for page in site.pages %}
          {% if page.title %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
